<section id="header">
  <a href="/">
    <img
      src='{{'logo.png'| img_url: '32x32' | asset_url}}'
      class="logo"
      alt="logo" />
  </a>
  <div>
    <ul id="navbar" class="navbar">
      <a
        href="#"
        id="close"
        class="active">
        <i class="fa-solid fa-xmark fa-2x"></i>
      </a>
      {% for link in linklists.main-menu.links %}
        <li>
          <a href="{{link.url}}">{{ link.title }}</a>
        </li>

      {% endfor %}
      <li>
        <a href="{{ routes.cart_url }}" id="cart">
          <i class="fa-solid fa-bag-shopping fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <div id="mobile">

    <a href="cart.html">
      <i class="fa-solid fa-bag-shopping fa-2x"></i>
    </a>
    <i class="fa-solid fa-bars" id="bar"></i>
  </div>
</section>