<div class="container">
  <div class="pro">
    <a href="{{product.url}}">
      <img src="{{product.featured_image | img_url: '400x400'}}">
      <h4>{{ product.title }}</h4>
      <p>{{ product.price | money_with_currency }}</p>
    </a>
  </div>
</div>